In [7]:
# Load a csv, set a new col names
#Rename column names(1 column,multiple column)
# Load a dataset, set one column as inndex column
# split your data into multiple file with respect to rows columns 
# Load the different files and merge them to final file

In [8]:
import pandas as pd

task = pd.read_csv("C:/Users/Lenovo/.jupyter/Python Classes/Movies.csv")

In [9]:
task

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
0,1,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,2,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,3,05-12-2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,4,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,5,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action
...,...,...,...,...,...,...,...,...,...
3396,3397,10/28/2011,Like Crazy,250000.0,3395391.0,3.728400e+06,Paramount Pictures,PG-13,Drama
3397,3398,7/14/2000,Chuck&Buck,250000.0,1055671.0,1.157672e+06,Artisan,R,Drama
3398,3399,3/28/1997,Love and Other Catastrophes,250000.0,212285.0,7.432160e+05,Fox Searchlight,R,Comedy
3399,3400,8/28/1998,I Married a Strange Person,250000.0,203134.0,2.031340e+05,Lionsgate,NaN,Comedy
3400,3401,7/22/2005,November,250000.0,191862.0,1.918620e+05,Sony Pictures Classics,R,Drama

In [10]:
movie =task[0:30]

In [11]:
movie

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
0,1,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,2,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,3,05-12-2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,4,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,5,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action
5,6,08-01-2014,Guardians of the Galaxy,170000000.0,333172112.0,7.710513e+08,Walt Disney,PG-13,Action
6,7,05-07-2010,Iron Man 2,170000000.0,312433331.0,6.211564e+08,Paramount Pictures,PG-13,Action
7,8,04-04-2014,Captain America: The Winter Soldier,170000000.0,259746958.0,7.144019e+08,Walt Disney,PG-13,Action
8,9,07-11-2014,Dawn of the Planet of the Apes,170000000.0,208545589.0,7.106446e+08,20th Century Fox,PG-13,Adventure
9,10,11-10-2004,The Polar Express,170000000.0,186493587.0,3.106342e+08,Warner Bros.,G,Adventure
10,11,06-01-2012,Snow White and the Huntsman,170000000.0,155136755.0,4.010217e+08,Universal,PG-13,Adventure
11,12,07-01-2003,Terminator 3: Rise of the Machines,170000000.0,150358296.0,4.330583e+08,Warner Bros.,R,Action
12,13,05-07-2004,Van Helsing,170000000.0,120150546.0,3.001505e+08,Universal,PG-13,Action
13,14,5/22/2015,Tomorrowland,170000000.0,93436322.0,2.072835e+08,Walt Disney,PG,Adventure
14,15,5/27/2016,Alice Through the Looking Glass,170000000.0,77042381.0,2.769341e+08,Walt Disney,PG,Adventure
15,16,5/21/2010,Shrek Forever After,165000000.0,238736787.0,7.562447e+08,Paramount Pictures,PG,Adventure
16,17,11-04-2016,Doctor Strange,165000000.0,232641920.0,6.764865e+08,Walt Disney,PG-13,Action
17,18,11-07-2014,Big Hero 6,165000000.0,222527828.0,6.521278e+08,Walt Disney,PG,Adventure
18,19,3/26/2010,How to Train Your Dragon,165000000.0,217581232.0,4.948710e+08,Paramount Pictures,PG,Adventure
19,20,11-02-2012,Wreck-It Ralph,165000000.0,189412677.0,4.965115e+08,Walt Disney,PG,Adventure
20,21,11-05-2014,Interstellar,165000000.0,188017894.0,6.677524e+08,Paramount Pictures,PG-13,Adventure
21,22,6/24/2016,Independence Day: Resurgence,165000000.0,103144286.0,3.844139e+08,20th Century Fox,PG-13,Action
22,23,7/29/2011,Cowboys and Aliens,163000000.0,100368560.0,1.760383e+08,Universal,PG-13,Action
23,24,5/17/2007,Shrek the Third,160000000.0,322719944.0,8.073309e+08,Paramount Pictures,PG,Adventure
24,25,5/24/2013,Fast and Furious 6,160000000.0,238679850.0,7.893004e+08,Universal,PG-13,Action
25,26,06-03-2011,X-Men: First Class,160000000.0,146408305.0,3.554083e+08,20th Century Fox,PG-13,Action
26,27,12/25/2008,The Curious Case of Benjamin Button,160000000.0,127509326.0,3.296320e+08,Paramount Pictures,PG-13,Drama
27,28,7/14/2010,The Sorcerer's Apprentice,160000000.0,63150991.0,2.179863e+08,Walt Disney,PG,Adventure
28,29,05-12-2006,Poseidon,160000000.0,60674817.0,1.816748e+08,Warner Bros.,PG-13,Adventure
29,30,06-10-2016,Warcraft,160000000.0,47225655.0,4.255471e+08,Universal,PG-13,Action

In [12]:
movie.rename(columns={"Unnamed: 0":"Sr. No.","movie":"MOVIES","production_budget":"Production Budget","domestic_gross":"Domestic_Gross","mpaa_rating":"Mappa_Rating"})

,Sr. No.,release_date,MOVIES,Production Budget,Domestic_Gross,worldwide_gross,distributor,Mappa_Rating,genre
0,1,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,2,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,3,05-12-2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,4,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,5,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action
5,6,08-01-2014,Guardians of the Galaxy,170000000.0,333172112.0,7.710513e+08,Walt Disney,PG-13,Action
6,7,05-07-2010,Iron Man 2,170000000.0,312433331.0,6.211564e+08,Paramount Pictures,PG-13,Action
7,8,04-04-2014,Captain America: The Winter Soldier,170000000.0,259746958.0,7.144019e+08,Walt Disney,PG-13,Action
8,9,07-11-2014,Dawn of the Planet of the Apes,170000000.0,208545589.0,7.106446e+08,20th Century Fox,PG-13,Adventure
9,10,11-10-2004,The Polar Express,170000000.0,186493587.0,3.106342e+08,Warner Bros.,G,Adventure
10,11,06-01-2012,Snow White and the Huntsman,170000000.0,155136755.0,4.010217e+08,Universal,PG-13,Adventure
11,12,07-01-2003,Terminator 3: Rise of the Machines,170000000.0,150358296.0,4.330583e+08,Warner Bros.,R,Action
12,13,05-07-2004,Van Helsing,170000000.0,120150546.0,3.001505e+08,Universal,PG-13,Action
13,14,5/22/2015,Tomorrowland,170000000.0,93436322.0,2.072835e+08,Walt Disney,PG,Adventure
14,15,5/27/2016,Alice Through the Looking Glass,170000000.0,77042381.0,2.769341e+08,Walt Disney,PG,Adventure
15,16,5/21/2010,Shrek Forever After,165000000.0,238736787.0,7.562447e+08,Paramount Pictures,PG,Adventure
16,17,11-04-2016,Doctor Strange,165000000.0,232641920.0,6.764865e+08,Walt Disney,PG-13,Action
17,18,11-07-2014,Big Hero 6,165000000.0,222527828.0,6.521278e+08,Walt Disney,PG,Adventure
18,19,3/26/2010,How to Train Your Dragon,165000000.0,217581232.0,4.948710e+08,Paramount Pictures,PG,Adventure
19,20,11-02-2012,Wreck-It Ralph,165000000.0,189412677.0,4.965115e+08,Walt Disney,PG,Adventure
20,21,11-05-2014,Interstellar,165000000.0,188017894.0,6.677524e+08,Paramount Pictures,PG-13,Adventure
21,22,6/24/2016,Independence Day: Resurgence,165000000.0,103144286.0,3.844139e+08,20th Century Fox,PG-13,Action
22,23,7/29/2011,Cowboys and Aliens,163000000.0,100368560.0,1.760383e+08,Universal,PG-13,Action
23,24,5/17/2007,Shrek the Third,160000000.0,322719944.0,8.073309e+08,Paramount Pictures,PG,Adventure
24,25,5/24/2013,Fast and Furious 6,160000000.0,238679850.0,7.893004e+08,Universal,PG-13,Action
25,26,06-03-2011,X-Men: First Class,160000000.0,146408305.0,3.554083e+08,20th Century Fox,PG-13,Action
26,27,12/25/2008,The Curious Case of Benjamin Button,160000000.0,127509326.0,3.296320e+08,Paramount Pictures,PG-13,Drama
27,28,7/14/2010,The Sorcerer's Apprentice,160000000.0,63150991.0,2.179863e+08,Walt Disney,PG,Adventure
28,29,05-12-2006,Poseidon,160000000.0,60674817.0,1.816748e+08,Warner Bros.,PG-13,Adventure
29,30,06-10-2016,Warcraft,160000000.0,47225655.0,4.255471e+08,Universal,PG-13,Action

In [13]:
bakchodi = pd.read_csv("C:/Users/Lenovo/.jupyter/Python Classes/Bakchdoi.csv")

In [14]:
bakchodi

   Roll No.      Names  Marks
0         1  Swasdickk   -100
1         2  Swasdickk   -100
2         3  Swasdickk   -100
3         4  Swasdickk   -100
4         5  Swasdickk   -100

In [15]:
bakchodi.set_index('Names')

           Roll No.  Marks
Names
Swasdickk         1   -100
Swasdickk         2   -100
Swasdickk         3   -100
Swasdickk         4   -100
Swasdickk         5   -100

In [16]:
df1 = bakchodi.iloc[:2,:]
df2 = bakchodi.iloc[2:,:]
print(df1)
print("---------------------------")
print(df2)

   Roll No.      Names  Marks
0         1  Swasdickk   -100
1         2  Swasdickk   -100
---------------------------
   Roll No.      Names  Marks
2         3  Swasdickk   -100
3         4  Swasdickk   -100
4         5  Swasdickk   -100

In [17]:
df1 = bakchodi.iloc[:,:2]
df2 = bakchodi.iloc[:,2:]
print(df1)
print("---------------------------")
print(df2)

   Roll No.      Names
0         1  Swasdickk
1         2  Swasdickk
2         3  Swasdickk
3         4  Swasdickk
4         5  Swasdickk
---------------------------
   Marks
0   -100
1   -100
2   -100
3   -100
4   -100

In [18]:
bakchodi

   Roll No.      Names  Marks
0         1  Swasdickk   -100
1         2  Swasdickk   -100
2         3  Swasdickk   -100
3         4  Swasdickk   -100
4         5  Swasdickk   -100

In [34]:
movie =task.iloc[0:3,0:3]
movie1=task.iloc[2:6,0:3]

In [35]:
movie1

   Unnamed: 0 release_date                             movie
2           3   05-12-2017  King Arthur: Legend of the Sword
3           4   12/25/2013                          47 Ronin
4           5    6/22/2018    Jurassic World: Fallen Kingdom
5           6   08-01-2014           Guardians of the Galaxy

In [36]:
movie

   Unnamed: 0 release_date                             movie
0           1    6/22/2007                     Evan Almighty
1           2    7/28/1995                        Waterworld
2           3   05-12-2017  King Arthur: Legend of the Sword

In [40]:
pd.merge(movie,movie1,how="outer")

   Unnamed: 0 release_date                             movie
0           1    6/22/2007                     Evan Almighty
1           2    7/28/1995                        Waterworld
2           3   05-12-2017  King Arthur: Legend of the Sword
3           4   12/25/2013                          47 Ronin
4           5    6/22/2018    Jurassic World: Fallen Kingdom
5           6   08-01-2014           Guardians of the Galaxy